## Pre-commit setup
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-json
      - id: pretty-format-json
      - id: check-toml
      - id: check-yaml
      # Ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer

      # Remove trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  # Code style and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.0.285
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        args: [
          --line-length, "120",
          ]

  - repo: https://github.com/HunterMcGushion/docstr_coverage
    rev: v2.3.0
    hooks:
      - id: docstr-coverage
        args: ["--verbose", "2"] # override the .docstr.yaml to see less output

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.5.1'
    hooks:
      - id: mypy
        additional_dependencies:
        - "pydantic>=2.1"

  - repo: https://github.com/espressif/conventional-precommit-linter
    rev: v1.2.1
    hooks:
      - id: conventional-precommit-linter
        stages: [commit-msg]
        args:
          - --types=feat,fix,docs,style,refactor,perf,test,build,ci,chore,revert
